main {
   
    display: grid;
   justify-items: center;
    
 

} 
body{
     background-color: lightgray;

}
img {
    padding: 20px; 
    background-color: gray;
    border: 5px solid blue;
    max-width: 200px; 
    margin: 20px; 
}