/* --- Base (Mobile First) --- */
.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 90%;  /* flex-basis practice */
  /*max-width: 90%;*/
   flex-wrap: wrap;
}

/* STUDENT CODE STARTS HERE */
@media (min-width: 768px){
  *{box-sizing: border-box;}
  .grid {
    grid-template-columns: 45% 45%;
    gap: 10px; 
    justify-items: center;

  }
  .gallery { 
    
    justify-content: space-around;
    

  }
  .gallery img { 
    flex: 1 1 30%;
  }
   .grid > div:nth-child(3n){
    grid-column: 1/-1;
    width: 50%;
  }
  .grid > div:nth-child(even){ 
  background-color: lightpink;
  /*border: none; filter: none*/

  }
 

} 
@media(min-width: 1200px){
  .grid > div:nth-child(3n){
    grid-column: auto;
    width: 100%;
  }
  .grid{
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
  }
  .gallery{
    justify-content: space-between;
  }
    
  .gallery img {
    flex: 1 1 200px;

  }
  .grid > div:hover{
    box-shadow: 0 6px 10px purple;
  }
}
@media print {
  body{
    background-color: #FFFFFFFF;
    color:black;
    page-break-inside: avoid;
     
  }
  .gallery { 
    display:none; 
    
  }
  .grid > div{border: 1px solid black; }
}
@media(prefers-reduced-motion: reduce){
  .gallery img:hover,
  .grid > div:hover{
    transform: none;
    filter:none;
   
  }
} 
@media(prefers-color-scheme: dark){
  body{background-color: #111;
    color: #eee;
   
  }
  .grid > div {
    background-color:#111;
    border: 1px solid  #EB5B00;
  }
}